.App {
  text-align: center;

}
/* .navbar-container{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#2B4B40;
  top: 0;
  width: 100%;

} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}
.nav-li{
  display:inline;
  float: left;
  border-right: 1px solid #bbb;
}

.nav-li a h2{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  
}

.nav-li a h2:hover{
  background-color: black;
}
.navbar-btn--active{
  border-bottom: 3px solid #29b6f6;
  transition: border-bottom .5s ease-in-out;
}
.navbar-btn{
  width: 300px;
  display: block;
  margin: auto;
  cursor: pointer;
  font-family: 'Architects Daughter', cursive;
  transition: border-bottom .5s ease-in-out;
 
}

h2{
  font-family: 'Architects Daughter', cursive;
}

fieldset {
  font-size: 1.5rem;
  font-weight: bolder;
}

fieldset input {
  border-radius: 10px;
  margin: 10px;
}
form {
  width: 70%;
  margin: auto;
}
body {
  background-color: #E3E9D9;
}
label{
  font-family: 'Architects Daughter', cursive;
}
.btn-danger{
  margin-left: 15px;
}
